/* index.css or App.css */

/* Tailwind CSS base styles */
@tailwind base;
/* Tailwind CSS component styles */
@tailwind components;
/* Tailwind CSS utility styles */
@tailwind utilities;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.bg-pattern {
  /* Image for the background of the web app- found online on unspash*/
  background-image: url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDZ8fGZvb2R8ZW58MHx8fHwxNjg3NjcyMjM2&ixlib=rb-1.2.1&q=80&w=1080');
  background-size: cover;
  background-position: center;
}

.header-title h1{
  color: #2c6b2f; 
  background-color: #d1e8d3; 
  padding: 20px 0;
  width: 100%; 
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
  position: absolute;
  top: 0; 
  left: 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}